{% extends "admin/base.html" %}
{% load i18n %}
{% load static %}
{% block extrahead %}
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="192x192" href="{% static 'favicons/favicon-192x192.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
{% endblock  %}
{% block userlinks %}
    {% if site_url %}
        <a href="{{ site_url }}">{% trans 'View site' %}</a> /
    {% endif %}
    {% if user.is_active and user.is_staff %}
        {% url 'django-admindocs-docroot' as docsroot %}
        {% if docsroot %}
            <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
        {% endif %}
    {% endif %}
    {% if user.has_usable_password %}
    <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
    {% endif %}
    <a id="logout-link" href="{% url 'admin:logout' %}">{% trans "Log out" %}</a>
    <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
        {% csrf_token %}
    </form>
    <script src="{% static 'js/logout.js' %}"></script>
{% endblock %}
