{% extends 'base.html' %}
{% block content %}

    <!-- start slipsum code -->

    <h2>No man, I don't eat pork</h2>
    <p>Yeah, I like animals better than people sometimes... Especially dogs. Dogs are the best. Every time you come
        home, they act like they haven't seen you in a year. And the good thing about dogs... is they got different dogs
        for different people. Like pit bulls. The dog of dogs. Pit bull can be the right man's best friend... or the
        wrong man's worst enemy. You going to give me a dog for a pet, give me a pit bull. Give me... Raoul. Right,
        Omar? Give me Raoul. </p>

    <h2>We happy?</h2>
    <p>The lysine contingency - it's intended to prevent the spread of the animals is case they ever got off the island.
        Dr. Wu inserted a gene that makes a single faulty enzyme in protein metabolism. The animals can't manufacture
        the amino acid lysine. Unless they're continually supplied with lysine by us, they'll slip into a coma and
        die. </p>

    <h2>Oh... what I'm gon' do?</h2>
    <p>Like you, I used to think the world was this great place where everybody lived by the same standards I did, then
        some kid with a nail showed me I was living in his world, a world where chaos rules not order, a world where
        righteousness is not rewarded. That's Cesar's world, and if you're not willing to play by his rules, then you're
        gonna have to pay the price. </p>

    <h2>Is she dead, yes or no?</h2>
    <p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how
        you can tell who the arch-villain's going to be? He's the exact opposite of the hero. And most times they're
        friends, like you and me! I should've known way back when... You know why, David? Because of the kids. They
        called me Mr Glass. </p>

    <h2>We happy?</h2>
    <p>Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine.
        You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water.
        We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are
        connected, you and I. We're on the same curve, just on opposite ends. </p>

    <!-- please do not remove this line -->

    <div style="display:none;">
        <a href="http://slipsum.com">lorem ipsum</a></div>

    <!-- end slipsum code -->

{% endblock %}
