{% for testsuite in testsuites %}
  <h4>{{ testsuite.name }} (passed {{ testsuite.passed }} of {{ testsuite.total }})</h4>
  <ul class="testcase-list">
  {% for tc in testsuite.testcases %}
    <li>
      <h5 class="testcase-name">
        <code>{{ tc.name }}()</code>
        {% if not tc.failure and not tc.error %}
          passed
        {% else %}
          failed with:
        {% endif %}
      </h5>
      {% if tc.failure.stacktrace or tc.error.stacktrace %}
      {% spaceless %}
      <pre class="console-output">
        <code>{% firstof tc.failure.stacktrace tc.error.stacktrace %}</code>
      </pre>
      {% endspaceless %}
      {% endif %}
    </li>
  {% endfor %}

  {% if testsuite.system_out %}
    <li>
      <h5><code>System.out</code> contains:</h5>
      <pre class="console-output"><code>{{ testsuite.system_out }}</code></pre>
    </li>
  {% endif %}
  {% if testsuite.system_err %}
    <li>
      <h5><code>System.err</code> contains:</h5>
      <pre class="console-output"><code>{{ testsuite.system_err }}</code></pre>
    </li>
  {% endif %}

  </ul>
{% empty %}
  <p>Nothing to show here.</p>
{% endfor %}
