{% if not testsuites %}
<p>Nothing to show here.</p>
{% endif %}

{% for testsuite in testsuites %}
  <div class="bottom-spaced">
  <h4 class="inline">{{ testsuite.name }} (passed {{ testsuite.passed }} of {{ testsuite.total }})</h4>
  {% if testsuite.system_out %}
    <a class="disguised" href="#" data-toggle="collapse" data-target="#stdout-{{ forloop.counter }}">
      <code class="inline">System.out</code>
    </a>
  {% endif %}
  {% if testsuite.system_err %}
    <a class="disguised" href="#" data-toggle="collapse" data-target="#stderr-{{ forloop.counter }}">
      <code class="inline">System.err</code>
    </a>
  {% endif %}
  </div>

  {% if testsuite.system_out %}
  <div class="collapse" id="stdout-{{ forloop.counter }}">
    <h5><code>System.out</code> contains:</h5>
    <pre class="console-output"><code>{{ testsuite.system_out }}</code></pre>
  </div>
  {% endif %}
  {% if testsuite.system_err %}
  <div class="collapse" id="stderr-{{ forloop.counter }}">
    <h5><code>System.err</code> contains:</h5>
    <pre class="console-output"><code>{{ testsuite.system_err }}</code></pre>
  </div>
  {% endif %}

  <ul class="testcase-list">

  {% for tc in testsuite.testcases %}

  <li class="bottom-spaced">
  {% if not tc.failure and not tc.error %}
    <h5 class="testcase-name inline">
      <span class="glyphicon glyphicon-ok text-success"></span>
      <code>{{ tc.name }}()</code> passed
    </h5>
  {% else %}
    <a class="disguised" href="#" data-toggle="collapse" data-target="#stacktrace-{{ forloop.counter }}">
      <h5 class="inline">
        <span class="glyphicon glyphicon-remove text-danger"></span>
        <code>{{ tc.name }}()</code> failed:
        {% firstof tc.failure.message tc.error.message %}
      </h5>
    </a>
    <div class="collapse" id="stacktrace-{{ forloop.counter }}">
      {% if tc.failure.stacktrace or tc.error.stacktrace %}
      {% spaceless %}
      <pre class="console-output stacktrace">
        <code>{% firstof tc.failure.stacktrace tc.error.stacktrace %}</code>
      </pre>
      {% endspaceless %}
      {% endif %}
    </div>
  {% endif %}
  </li>

  {% endfor %}

  </ul>

{% endfor %}
