[submodule "static/vendor/bootstrap"]
	path = vendor/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "static/vendor/jquery"]
	path = vendor/jquery
	url = https://github.com/jquery/jquery.git
[submodule "static/vendor/prism"]
	path = vendor/prism
	url = https://github.com/PrismJS/prism.git
[submodule "static/vendor/ace"]
	path = vendor/ace
	url = https://github.com/ajaxorg/ace-builds
[submodule "static/vendor/anchorjs"]
	path = vendor/anchorjs
	url = https://github.com/bryanbraun/anchorjs.git
[submodule "vendor/jquery-refresh"]
	path = vendor/jquery-refresh
	url = git@github.com:martinmo/jquery-refresh.git
