*.swp
*.swo
*.pyc
*.pyo
*~
*.backup
.settings
.tmp_*
.project
.pydevproject
.DS_Store
data/
venv*
media/
.idea/
*.sqlite3
*.sublime-workspace
.coverage
htmlcov
static/node_modules/
.vagrant/
.ssh_deploy_key_*
local_conf.py
