#
# This list is used by git-shortlog to normalize misspelled names and
# all the different email addresses that have been used by some over
# the years.
#

Dominik Muhs <dmuhs@users.noreply.github.com> <dominik.muhs@mailbox.tu-dresden.de>
Jonny Seitz <github@jonny-seitz.de>
Julian Catoni <julian.catoni@tu-dresden.de>
Martin Morgenstern <martin.morgenstern1@tu-dresden.de> <mail@mmorgenstern.net>
Martin Morgenstern <martin.morgenstern1@tu-dresden.de> <martinmo@users.noreply.github.com>
Martin Morgenstern <martin.morgenstern1@tu-dresden.de> <rm.morgenstern@gmail.com>
Philipp Matthes <github@philippmatth.es>
