[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

defusedxml = "==0.5.0"
django-constance = "==2.0.0"
django-environ = "==0.4.4"
django-extensions = "==1.9.0"
django-password-reset = "==1.0"
django-redis = "==4.8.0"
django-registration = "==2.2"
django-widget-tweaks = "==1.4.1"
django = "==1.10.7"
huey = "==1.4.0"
markdown = "==2.6.9"
redis = "==2.10.6"
gunicorn = "==19.7.1"
"psycopg2" = "==2.7.3.1"
setproctitle = "==1.1.10"


[dev-packages]

coverage = "*"
"flake8" = "*"
"flake8-docstrings" = "*"
isort = "==4.2.5"
ipython = "*"
honcho = "*"


[requires]

python_version = "3"
