[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
defusedxml = "*"
django-constance = "*"
django-environ = "*"
django-extensions = "*"
django-redis = "*"
django-registration = "<3.0"
django-widget-tweaks = "*"
django = "<1.12"
huey = "<2.0"
markdown = "<3.0"
redis = "*"
gunicorn = "*"
"psycopg2" = "*"
setproctitle = "*"

[dev-packages]
coverage = "*"
"flake8" = "*"
"flake8-docstrings" = "*"
isort = "*"
ipython = "*"
honcho = "*"
django-html-validator = "*"
