coverage==4.0.3
Django==1.8.11
flake8==2.5.4
honcho==0.6.6
huey==1.1.1
-e git+https://github.com/waylan/Python-Markdown.git@4d96f00#egg=Markdown
mccabe==0.4.0
pep8==1.7.0
Pillow==3.1.1
pyflakes==1.1.0
redis==2.10.5
