{% extends "tasks/base.html" %}
{% load staticfiles %}

{% block title %}Editor{% endblock %}


{% block tab_content %}
{% if not task.is_expired %}


<ul id="tab-container" class="nav nav-pills scrollable">
    <li id="status-button-hint" data-toggle="tooltip" title="Save this solution." data-placement="auto">
      <a id="status-button" href="#" onclick="communicator.save(); blur();">
          <span id="status-button-icon"
                class="glyphicon glyphicon-floppy-saved"></span>
      </a>
    </li>
    <li data-toggle="tooltip" title="Save and upload this solution to the checker." data-placement="auto">
      <a href="#" onclick="communicator.upload(fileBuilder.files); blur();">
          <span class="glyphicon glyphicon-cloud-upload"></span>
      </a>
    </li>
    <li data-toggle="tooltip" title="Create a new file." data-placement="auto">
      <a href="#" onclick="tabBar.createNewEmptyTab(); blur();">
          <span class="glyphicon glyphicon-plus-sign"></span>
      </a>
    </li>
    <li class="vertical-divider">
    </li>
</ul>

<div id="editor-container">
    <div class="background-color-editor"></div>
    <div class="background-color-editor editor-divider"></div>
    <div id="editor" class="editor"></div>
    <div class="background-color-editor editor-round-bottom"></div>
</div>

{% else %}
<p class="alert alert-warning">
  The deadline for this task has passed. You cannot submit new solutions.
</p>
{% endif %}

{% endblock %}

{% block extrabody %}
<div id="modals"></div>

<script src="{% static 'js/ace/ace.js' %}"></script>
<script src="{% static 'js/ace/ext-language_tools.js' %}"></script>
<script src="{% static 'js/ace/mode-java.js' %}"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/rusha.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script id="editor-script"
        src="{% static 'js/editor.js' %}"
        data-csrf-token="{{ csrf_token }}"
        data-modular-tab-url="{% url 'solutions:modular-tab' task.slug %}"
        data-modular-notification-url="{% url 'solutions:modular-notification' task.slug %}"
        data-modular-input-form-url="{% url 'solutions:modular-input-form' task.slug %}"
        data-solutions-editor-url="{% url 'solutions:editor' task.slug %}"
        data-solutions-list-url="{% url 'solutions:list' task.slug %}"
        data-modal-container-id="#modals"
        data-tab-container-id="#tab-container"
        data-editor-id="editor"
        data-status-button-background-id="#status-button"
        data-status-button-icon-id="#status-button-icon"
        data-status-button-hint-id="#status-button-hint"
        data-css-background-unsaved="unsaved"
        data-css-background-saved="saved"
        data-css-icon-unsaved="glyphicon-floppy-remove"
        data-css-icon-saved="glyphicon-floppy-saved"
        >
</script>
<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock %}
