{% load widget_tweaks %}
{% csrf_token %}
{% for field in form %}
{% spaceless %}
<div class="form-group{% if field.errors %} has-error{% endif %}">
  {{ field.label_tag }}
  {% if forloop.first %}
    {% render_field field class="form-control" autofocus="" %}
  {% else %}
    {% render_field field class="form-control" %}
  {% endif %}
  {% if field.errors|length > 1 %}
    <span class="help-block">{{ field.errors }}</span>
  {% elif field.errors %}
    <span class="help-block">{{ field.errors|first }}</span>
  {% elif field.help_text %}
    <span class="help-block">{{ field.help_text|safe }}</span>
  {% endif %}
</div>
{% endspaceless %}
{% endfor %}
