{% extends 'admin/change_list.html' %}
{% load staticfiles %}

{% block object-tools %}
    <div style="margin-bottom: 100px;">
        <h5 style="display:inline-block; background-color: #f3f3f3; padding: 20px; border-radius: 20px; margin-right: 20px;">
        Passed and Failed Solutions (accumulated)
        <canvas id="pass-rate-chart" width="300" height="300"></canvas>
        </h5>

        <h5 style="display:inline-block; background-color: #f3f3f3; padding: 20px; border-radius: 20px; margin-right: 20px;">
        Solution Submissions
        <canvas id="submission-dates-chart" width="620" height="300"></canvas>
        </h5>

        <h5 style="display:inline-block; background-color: #f3f3f3; padding: 20px; border-radius: 20px; margin-right: 20px;">
        Tries Until Solution Passes
        <canvas id="tries-chart" width="620" height="300"></canvas>
        </h5>

        <h5 style="display:inline-block; background-color: #f3f3f3; padding: 20px; border-radius: 20px; margin-right: 20px;">
        Hotspot Tasks
        <canvas id="hotspot-chart" width="300" height="300"></canvas>
        </h5>
    </div>

    {{ block.super }}

    <script type="text/javascript">
    var passRateChartElement = document.getElementById("pass-rate-chart").getContext('2d');
    var passRateData = {
        datasets: [{
            data: [
                {{ statistics.passed }},
                {{ statistics.failed }}
            ],
            backgroundColor: [
                '#79aec8',
                '#ffffff'
            ]
        }],
        labels: [
            'Passed',
            'Failed'
        ]
    };
    var passRateChart = new Chart(passRateChartElement,{
        type: 'doughnut',
        data: passRateData,
        options: {
            responsive: false
        }
    });
    var submissionDatesElement = document.getElementById("submission-dates-chart").getContext("2d");
    var submissionDatesChart = new Chart(submissionDatesElement, {
        type: 'line',
        data: {
            labels: [
                {% for date_label, date_value in statistics.submission_dates %}
                    new Date('{{ date_label|escapejs }}').toDateString(),
                {% endfor %}
            ],
            datasets: [
                {
                    label: 'Submissions',
                    data: [
                        {% for date_label, date_value in statistics.submission_dates %}
                            {
                                t: new Date('{{ date_label|escapejs }}'),
                                y: {{ date_value }}
                            },
                        {% endfor %}
                    ],
                    backgroundColor: ['rgba(255,255,255,0.5)'],
                    borderColor: ['#79aec8'],
                    borderWidth: 2,
                    lineTension: 0.0,
                    pointRadius: 1,
                    pointHoverRadius: 5
                }
            ]
        },
        options: {
            responsive: false
        }
    });
    var triesElement = document.getElementById("tries-chart").getContext("2d");
    var triesChart = new Chart(triesElement, {
        type: 'bar',
        data: {
            labels: [
                {% for key, value in statistics.passed_after %}
                    '{{ key|escapejs }}',
                {% endfor %}
            ],
            datasets: [
                {
                    label: 'Tries Until Passed',
                    data: [
                        {% for key, value in statistics.passed_after %}
                            {
                                t: '{{ key|escapejs }}',
                                y: {{ value }}
                            },
                        {% endfor %}
                    ],
                    backgroundColor: 'rgba(255,255,255,0.5)',
                    borderColor: '#79aec8',
                    borderWidth: 2
                }
            ]
        },
        options: {
            responsive: false,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    var hotspotElement = document.getElementById("hotspot-chart").getContext("2d");
    var hotSpotChart = new Chart(hotspotElement, {
        type: 'scatter',
        data: {
            labels: [
                {% for taskname, data in statistics.hotspots %}
                    '{{ taskname|escapejs }}',
                {% endfor %}
            ],
            datasets: [
                {
                    label: 'Task submissions and success rates',
                    data: [
                        {% for taskname, data in statistics.hotspots %}
                        {
                            x: {{ data.passed_submissions }},
                            y: {{ data.failed_submissions }}
                        },
                        {% endfor %}
                    ],
                    backgroundColor: 'rgba(255,255,255,0.5)',
                    borderColor: '#79aec8',
                    radius: 5.0,
                }
            ]
        },
        options: {
            responsive: false,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Failed Solutions'
                    }
                }],
                xAxes: [{
                    ticks: {
                        beginAtZero: true
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Passed Solutions'
                    }
                }]
            },
            tooltips: {
                callbacks: {
                    label: function(tooltipItem, data) {
                       return data.labels[tooltipItem.index];
                    }
                }
            }
        }
    });
    </script>
{% endblock %}
