{% extends "base_site.html" %}
{% load markdown %}
{% load static %}

{% block title %}{{ task.title }}{% endblock %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/syntax.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/editor-v2.css' %}">
{% endblock %}
{% block body_classes %}editor-v2{% endblock %}
{% block navbar_container_classes %}container-fluid{% endblock  %}
{% block container_classes %}container-fluid{% endblock %}

{% block content %}

<div>
  <h1>{{ task.title }}</h1>
  {{ task.description|markdown }}
</div>
<div>
  <div>
    <div id="editor-countdown">
      <span>Time remaining: 00:14:23</span>
    </div>
    <div>
      <button id="editor-button-save" type="button" class="btn btn-success" onclick="communicator.save(); blur();">
        <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> Save all
      </button>
      <button type="button" class="btn btn-primary" onclick="tabBar.createNewEmptyTab(); blur();">
        <span class="glyphicon glyphicon-file" aria-hidden="true"></span> Create file
      </button>
      <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span> Submit
      </button>
      <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Check syntax
      </button>
    </div>
  </div>

  <!--
    <li id="status-button-hint" data-toggle="tooltip" title="Save this solution."
        data-placement="auto">
      <a id="status-button" href="#" onclick="communicator.save(); blur();">
          <span id="status-button-icon"
                class="glyphicon glyphicon-floppy-saved"></span>
      </a>
    </li>
    <li data-toggle="tooltip" title="Save and upload this solution to the checker."
        data-placement="auto">
      <a href="#" onclick="communicator.upload(fileBuilder.files); blur();">
          <span class="glyphicon glyphicon-cloud-upload"></span>
      </a>
    </li>
    <li data-toggle="tooltip" title="Create a new file."
        data-placement="auto">
      <a href="#" onclick="tabBar.createNewEmptyTab(); blur();">
          <span class="glyphicon glyphicon-plus-sign"></span>
      </a>
    </li>-->
  

  <div id="editor-container">
    {% comment %} <div class="background-color-editor"></div>
    <div class="background-color-editor editor-divider"></div> {% endcomment %}
    <div id="editor-top-bar">
      <ul id="tab-container"></ul>
      <div>
        <button onclick="tabBar.edit(tabBar.activeTab.tabId)" type="button" class="btn btn-link btn-xs" aria-label="Left Align">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Rename
        </button>
        <button onclick="tabBar.destroyActiveTab(tabBar.activeTab.tabId)" type="button" class="btn btn-link btn-xs" aria-label="Left Align">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
        </button>
      </div>
    </div>
      <div id="editor"></div>
    
    {% comment %} <div class="background-color-editor editor-round-bottom"></div> {% endcomment %}
  </div>
  <div id="console-output">
    <div>
      <h3>Syntax check result</h3>
      <button type="button" class="btn btn-link btn-xs" aria-label="Left Align">
          <span class="glyphicon glyphicon-close" aria-hidden="true"></span> Hide
        </button>
    </div>
    <div>
      I'm baby taxidermy ennui mustache, twee beard scenester deep v fixie cronut put a bird on it. Helvetica tote bag vegan whatever green juice, actually hoodie cronut selfies taiyaki polaroid paleo beard godard. Gentrify blue bottle photo booth gochujang direct trade actually cornhole asymmetrical godard sartorial 8-bit green juice hella. Locavore mustache beard retro chia. Four dollar toast chia 90's blog pitchfork, direct trade enamel pin cred 3 wolf moon keffiyeh. Distillery subway tile XOXO, taxidermy neutra hell of chillwave.

      Distillery intelligentsia prism blog fingerstache gentrify. Narwhal mumblecore activated charcoal, try-hard blog shaman paleo forage everyday carry pabst dreamcatcher portland put a bird on it. Seitan irony intelligentsia sriracha pop-up. Pop-up tote bag street art, church-key fanny pack celiac kitsch raw denim. Flannel taxidermy poutine, gastropub wolf venmo brunch single-origin coffee polaroid 
      portland disrupt unicorn mustache keffiyeh post-ironic.

      Kickstarter sartorial tumblr austin green juice keffiyeh bespoke pitchfork taiyaki. Pabst intelligentsia glossier migas locavore next level unicorn poke celiac flexitarian keffiyeh, twee microdosing. Squid iceland prism pabst fanny pack pitchfork keffiyeh pug 8-bit shabby chic ennui XOXO lumbersexual. Dreamcatcher church-key vaporware fam trust fund photo booth chartreuse PBR&B fixie. Chia bicycle rights dreamcatcher pour-over tote bag vegan lo-fi farm-to-table craft beer.

      Iceland gastropub live-edge cronut PBR&B iPhone. Fingerstache +1 post-ironic heirloom twee adaptogen austin, green juice unicorn ramps af echo park. Celiac snackwave yr shaman. Tote bag typewriter tumblr XOXO retro twee trust fund readymade put a bird on it man braid lyft. Celiac pop-up waistcoat authentic intelligentsia jean shorts 8-bit.

      Sustainable microdosing seitan, offal cardigan truffaut 3 wolf moon DIY retro. Pop-up authentic meh cronut hella occupy man braid. Food truck ugh biodiesel, farm-to-table etsy yr shaman air plant. Butcher tumblr leggings put a bird on it. Keytar stumptown sriracha edison bulb farm-to-table neutra sartorial live-edge fingerstache mixtape vape vinyl letterpress taxidermy pabst. Thundercats roof party man braid ennui.
    </div>
  </div>
</div>
{% endblock  %}

{% block footer %}{% endblock %}

{% block extrabody %}
<div id="modals"></div>
<script src="{% static 'vendor/js/prism.js' %}"></script>
<script src="{% static 'vendor/js/prism-java.min.js' %}"></script>
<script src="{% static 'vendor/js/anchor.min.js' %}"></script>
<script src="{% static 'js/inloop.js' %}"></script>

<script src="{% static 'vendor/js/ace-1.4.12/ace.js' %}"></script>
<script src="{% static 'vendor/js/ace-1.4.12/ext-language_tools.js' %}"></script>
<script src="{% static 'vendor/js/ace-1.4.12/mode-java.js' %}"></script>
<script src="{% static 'vendor/js/jquery.min.js' %}"></script>
<script src="{% static 'vendor/js/rusha.min.js' %}"></script>
<script src="{% static 'vendor/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/ace-theme-inloop.js' %}"></script>
<script id="editor-script" src="{% static 'js/editor-v2.js' %}"
        data-csrf-token="{{ csrf_token }}"
        data-modular-tab-url="{% url 'solutions:modular-tab' task.slug %}"
        data-modal-notification-url="{% url 'solutions:modal-notification' task.slug %}"
        data-modal-input-form-url="{% url 'solutions:modal-input-form' task.slug %}"
        data-modal-confirmation-form-url="{% url 'solutions:modal-confirmation-form' task.slug %}"
        data-solutions-editor-url="{% url 'solutions:editor' task.slug %}"
        data-solutions-list-url="{% url 'solutions:list' task.slug %}"
        data-get-last-checkpoint-url="{% url 'solutions:get-last-checkpoint' task.slug %}"
        data-save-checkpoint-url="{% url 'solutions:save-checkpoint' task.slug %}"
        data-modal-container-id="#modals"
        data-tab-container-id="#tab-container"
        data-editor-id="editor"
        data-status-button-background-id="#status-button"
        data-status-button-icon-id="#status-button-icon"
        data-status-button-hint-id="#status-button-hint"
        data-css-background-unsaved="unsaved"
        data-css-background-saved="saved"
        data-css-icon-unsaved="glyphicon-floppy-remove"
        data-css-icon-saved="glyphicon-floppy-saved"></script>
{% endblock %}


