{% extends "base_site.html" %}
{% load markdown %}
{% load static %}

{% block title %}{{ task.title }}{% endblock %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/syntax.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/editor-v2.css' %}">
{% endblock %}
{% block body_classes %}editor-v2{% endblock %}
{% block navbar_container_classes %}container-fluid{% endblock  %}
{% block container_classes %}container-fluid{% endblock %}

{% block content %}

<div>
  <h1>{{ task.title }}</h1>
  {{ task.description|markdown }}
</div>
<div>
  <div>
  <div>
    <button id="editor-button-save" type="button" class="btn btn-success" onclick="communicator.save(); blur();">
      <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> Save all
    </button>
    <button type="button" class="btn btn-primary" onclick="tabBar.createNewEmptyTab(); blur();">
      <span class="glyphicon glyphicon-file" aria-hidden="true"></span> Create file
    </button>
    <button type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span> Upload
    </button>
    <button type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Run code
    </button>
    </div>
    <div id="editor-countdown">
      <span>Time remaining: 00:14:23</span>
    </div>
  </div>
  
  <ul id="tab-container" class="nav nav-pills">
  <!--
    <li id="status-button-hint" data-toggle="tooltip" title="Save this solution."
        data-placement="auto">
      <a id="status-button" href="#" onclick="communicator.save(); blur();">
          <span id="status-button-icon"
                class="glyphicon glyphicon-floppy-saved"></span>
      </a>
    </li>
    <li data-toggle="tooltip" title="Save and upload this solution to the checker."
        data-placement="auto">
      <a href="#" onclick="communicator.upload(fileBuilder.files); blur();">
          <span class="glyphicon glyphicon-cloud-upload"></span>
      </a>
    </li>
    <li data-toggle="tooltip" title="Create a new file."
        data-placement="auto">
      <a href="#" onclick="tabBar.createNewEmptyTab(); blur();">
          <span class="glyphicon glyphicon-plus-sign"></span>
      </a>
    </li>-->
  </ul>

  <div id="editor-container">
    {% comment %} <div class="background-color-editor"></div>
    <div class="background-color-editor editor-divider"></div> {% endcomment %}
    <div id="editor" class="editor"></div>
    {% comment %} <div class="background-color-editor editor-round-bottom"></div> {% endcomment %}
  </div>
</div>
{% endblock  %}

{% block footer %}{% endblock %}

{% block extrabody %}
<div id="modals"></div>
<script src="{% static 'vendor/js/prism.js' %}"></script>
<script src="{% static 'vendor/js/prism-java.min.js' %}"></script>
<script src="{% static 'vendor/js/anchor.min.js' %}"></script>
<script src="{% static 'js/inloop.js' %}"></script>

<script src="{% static 'vendor/js/ace/ace.js' %}"></script>
<script src="{% static 'vendor/js/ace/ext-language_tools.js' %}"></script>
<script src="{% static 'vendor/js/ace/mode-java.js' %}"></script>
<script src="{% static 'vendor/js/jquery.min.js' %}"></script>
<script src="{% static 'vendor/js/rusha.min.js' %}"></script>
<script src="{% static 'vendor/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/ace-theme-inloop.js' %}"></script>
<script id="editor-script" src="{% static 'js/editor-v2.js' %}"
        data-csrf-token="{{ csrf_token }}"
        data-modular-tab-url="{% url 'solutions:modular-tab' task.slug %}"
        data-modal-notification-url="{% url 'solutions:modal-notification' task.slug %}"
        data-modal-input-form-url="{% url 'solutions:modal-input-form' task.slug %}"
        data-modal-confirmation-form-url="{% url 'solutions:modal-confirmation-form' task.slug %}"
        data-solutions-editor-url="{% url 'solutions:editor' task.slug %}"
        data-solutions-list-url="{% url 'solutions:list' task.slug %}"
        data-get-last-checkpoint-url="{% url 'solutions:get-last-checkpoint' task.slug %}"
        data-save-checkpoint-url="{% url 'solutions:save-checkpoint' task.slug %}"
        data-modal-container-id="#modals"
        data-tab-container-id="#tab-container"
        data-editor-id="editor"
        data-status-button-background-id="#status-button"
        data-status-button-icon-id="#status-button-icon"
        data-status-button-hint-id="#status-button-hint"
        data-css-background-unsaved="unsaved"
        data-css-background-saved="saved"
        data-css-icon-unsaved="glyphicon-floppy-remove"
        data-css-icon-saved="glyphicon-floppy-saved"></script>
{% endblock %}


