{% extends "base_site.html" %}
{% load static %}

{% block title %}{{ task.title }} solutions{% endblock %}

{% block content %}

<ol class="breadcrumb colorful-nav">
  <li><a href="{% url 'tasks:index' %}">Tasks</a></li>
  <li><a href="{% url 'tasks:category' task.category.slug %}">{{ task.category }}</a></li>
  <li><a href="{% url 'solutions:editor' task.slug %}">{{ task.title }}</a></li>
  <li class="active">My solutions</li>
</ol>

{% if solutions %}
<div class="list-group">
{% for solution in solutions %}
  <a class="list-group-item" href="{% url 'solutions:detail' solution.task.slug solution.scoped_id %}">

    <div class="solution-status">
      <span data-id="{{ solution.id }}" class="glyphicon solution-{{ solution.status }}"></span>
    </div>

{% if task.has_submission_limit %}
    <h4 class="list-group-item-heading">#{{ solution.scoped_id }} of {{ task.submission_limit }}</h4>
{% else %}
    <h4 class="list-group-item-heading">#{{ solution.scoped_id }}</h4>
{% endif %}
    <p class="list-group-item-text">
      Submitted
      <time class="timeago" datetime="{{ solution.submission_date.isoformat }}">
        on {{ solution.submission_date }}
      </time>
    </p>
  </a>
{% endfor %}
</div>
{% else %}
<p>You haven't submitted anything yet.</p>
{% endif %}
{% endblock %}

{% block extrabody %}
<script src="{% static 'vendor/js/jquery.timeago.js' %}"></script>
<script src="{% static 'vendor/js/jquery.refresh.js' %}"></script>
<script src="{% static 'js/solution-status.js' %}"></script>
{% endblock %}
