{% extends "base_site.html" %}

{% load staticfiles %}

{% block title %}Solution
#{% if impersonate %}{{ solution.id }}{% else %}{{ solution.scoped_id }}{% endif %}
{% endblock %}

{% block extrahead %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/syntax.css' %}">
{% endblock %}

{% block content %}

{# Breadcrumb #}
{% with task=solution.task %}
<ol class="breadcrumb">
  <li><a href="{% url 'tasks:index' %}">Tasks</a></li>
  <li><a href="{% url 'tasks:category' task.category.slug %}">{{ task.category }}</a></li>
  <li><a href="{% url 'tasks:detail' task.slug %}">{{ task.title }}</a></li>
  <li class="active">Solution
#{% if impersonate %}{{ solution.id }}{% else %}{{ solution.scoped_id }}{% endif %}
  </li>
</ol>
{% endwith %}
{# /Breadcrumb #}

{% if impersonate %}
<div class="alert alert-info }}" role="alert">
  {% with author=solution.author %}
  You are viewing a solution authored by
  <a href="mailto:{{ author.email }}">{% firstof author.get_full_name author.get_username %}</a>.
  {% endwith %}
</div>
{% endif %}

<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active">
    <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Overview</a>
  </li>
  <li role="presentation">
    <a href="#files" aria-controls="files" role="tab" data-toggle="tab">Files</a>
  </li>
  <li role="presentation">
    <a href="#console" aria-controls="console" role="tab" data-toggle="tab">Console output</a>
  </li>
  <li role="presentation">
    <a href="#unittests" aria-controls="unittests" role="tab" data-toggle="tab">Unit tests</a>
  </li>
  <li role="presentation">
    <a href="#checkstyle" aria-controls="checkstyle" role="tab" data-toggle="tab">Style checks</a>
  </li>
</ul>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="home">
  {% if solution.passed %}
    <p class="alert alert-success">
      Congratulations, your solution passed all tests.
    </p>
  {% elif solution.status == "failure" %}
    <p class="alert alert-danger">
      Your solution did not pass the tests.
    </p>
  {% elif solution.status == "killed" %}
    <p class="alert alert-danger">
      Your solution took too long to complete and has been terminated.
    </p>
  {# NOTE: states "lost" and "error" are handled in the view code #}
  {% endif %}
  </div><!-- /#home -->

  <div role="tabpanel" class="tab-pane" id="files">
    {% if files %}
    <div class="list-group">
    {% for file in files %}
      <a class="list-group-item" href="{% url 'solutions:showfile' file.id %}">
        <h4 class="list-group-item-heading">{{ file.name }}</h4>
        <p class="list-group-item-text">{{ file.size|filesizeformat }}</p>
      </a>
    {% endfor %}
    </div>
    {% else %}
    <p>No files to show here.</p>
    {% endif %}
  </div><!-- /#files -->

  <div role="tabpanel" class="tab-pane" id="console">
  {% if result.stdout %}
    <pre class="console-output">
      <code>{{ result.stdout }}</code>
    </pre>
  {% endif %}
  {% if result.stderr %}
    <pre class="console-output bg-danger text-white">
      <code>{{ result.stderr }}</code>
    </pre>
  {% elif not result.stdout %}
    <p>Nothing to show here.</p>
  {% endif %}
  </div><!-- /#console -->

  <div role="tabpanel" class="tab-pane" id="unittests">
  {% include "solutions/includes/testsuites.html" %}
  </div><!-- /#unittests -->

  <div role="tabpanel" class="tab-pane" id="checkstyle">

  {% if checkstyle_files %}
  {% for file in checkstyle_files %}
  <ul class="list-group">
  <a class="list-group-item active" href="#" data-toggle="collapse" data-target="#toggle{{ forloop.counter }}">
    <span class="badge">{{ file.num_warnings }} Warnings</span>
    <span class="badge">{{ file.num_errors }} Severe Issues</span>
    {{ file.attrib.name }}
  </a>
  <div class="collapse" id="toggle{{ forloop.counter }}">
    <li class="list-group-item">
    {% for file in checkstyle_files %}
    {% for error in file.children %}
    {% if error.attrib.severity == "error" %}
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h1 class="panel-title">
          {{ error.attrib.message }}
        </h1>
      </div>
      <div class="panel-body" style="padding: 8px;">
        <pre class="line-numbers codehilite" data-start="{{ error.attrib.line }}" style="margin-bottom: 5px;"><code class="language-java">{{ error.code }}</code></pre>
        <!--<span class="label label-default">This alert came from ...{{ error.attrib.source|slice:"-50:"|safe }}</span>-->
      </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endfor %}
    </li>
    <li class="list-group-item">
    {% for file in checkstyle_files %}
    {% for error in file.children %}
    {% if error.attrib.severity == "warning" %}
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h1 class="panel-title">
          {{ error.attrib.message }}
        </h1>
      </div>
      <div class="panel-body" style="padding: 8px;">
        <pre class="line-numbers codehilite" data-start="{{ error.attrib.line }}" style="margin-bottom: 5px;"><code class="language-java">{{ error.code }}</code></pre>
      </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endfor %}
    </li>
  </div>
  </ul>
  {% endfor %}

  {% else %}
    <p>Nothing to show here.</p>
  {% endif %}
  </div><!-- /#checkstyle -->
</div><!-- /.tab-content -->

{% endblock %}

{% block extrabody %}
<script src="{% static 'js/prism.js' %}"></script>
<script src="{% static 'js/prism-java.min.js' %}"></script>
<script src="{% static 'js/prism-line-numbers.min.js' %}"></script>
{% endblock %}
