{% extends "base_site.html" %}

{% load static %}

{% block title %}Solution
#{% if impersonate %}{{ solution.id }}{% else %}{{ solution.scoped_id }}{% endif %}
{% endblock %}

{% block extrahead %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/syntax.css' %}">
{% endblock %}

{% block content %}

{# Breadcrumb #}
{% with task=solution.task %}
<ol class="breadcrumb colorful-nav">
  <li><a href="{% url 'tasks:index' %}">Tasks</a></li>
  <li><a href="{% url 'tasks:category' task.category.slug %}">{{ task.category }}</a></li>
  <li><a href="{% url 'solutions:editor' task.slug %}">{{ task.title }}</a></li>
  <li><a href="{% url 'solutions:list' task.slug %}">My solutions</a></li>
  <li class="active">Solution
#{% if impersonate %}{{ solution.id }}{% else %}{{ solution.scoped_id }}{% endif %}
  </li>
</ol>
{% endwith %}
{# /Breadcrumb #}

{% if impersonate %}
<div class="alert alert-info }}" role="alert">
  {% with author=solution.author %}
  You are viewing a solution authored by
  <a href="mailto:{{ author.email }}">{% firstof author.get_full_name author.get_username %}</a>.
  {% endwith %}
</div>
{% endif %}

<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active">
    <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Overview</a>
  </li>
  <li role="presentation">
    <a href="#files" aria-controls="files" role="tab" data-toggle="tab">Files</a>
  </li>
  <li role="presentation">
    <a href="#console" aria-controls="console" role="tab" data-toggle="tab">Console output</a>
  </li>
  <li role="presentation">
    <a href="#unittests" aria-controls="unittests" role="tab" data-toggle="tab">Unit tests</a>
  </li>
  {% if checkstyle_data.total_warnings > 0 or checkstyle_data.total_errors > 0 %}
  <li role="presentation">
    <a href="#checkstyle" aria-controls="checkstyle" role="tab" data-toggle="tab">
        Style issues
        {% if checkstyle_data.total_errors > 0 %}
        <span class="badge progress-bar-danger annotation-badge">{{ checkstyle_data.total_errors }}</span>
        {% endif %}
        {% if checkstyle_data.total_warnings > 0 %}
            <span class="badge progress-bar-warning annotation-badge">{{ checkstyle_data.total_warnings }}</span>
        {% endif %}
    </a>
  </li>
  {% endif %}
</ul>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="home">
  {% if solution.passed %}

    <p class="alert alert-success">
      Congratulations, your solution passed all tests.
    </p>

    {%  if checkstyle_data %}
    {% if checkstyle_data.total_issues == 0 %}
    <div class="alert alert-success">
        <h1 class="no-margin-top">Code Quality: A+</h1>
        We detected no style issues with the code you submitted. Well done!
    {% elif checkstyle_data.total_issues < 5 %}
    <div class="alert alert-info">
        <h1 class="no-margin-top">Code Quality: A</h1>
        Your code is looking very good, but there are some issues. Go to the style issues tab to identify them.
    {% elif checkstyle_data.total_issues < 15 %}
    <div class="alert alert-warning">
        <h1 class="no-margin-top">Code Quality: B</h1>
        Your submission has good quality, but there are some issues. Go to the style issues tab to identify them.
    {% elif checkstyle_data.total_issues < 30 %}
    <div class="alert alert-warning">
        <h1 class="no-margin-top">Code Quality: C</h1>
        You should look over your code again. We detected various code style issues with your files. Go to the style issues tab to identify them.
    {% elif checkstyle_data.total_issues < 60 %}
    <div class="alert alert-danger">
        <h1 class="no-margin-top">Code Quality: C-</h1>
        Your code compiles, but you should definitely look over it again. There are many code style issues with your files. Go to the style issues tab to identify them. We encourage you to improve the quality of your code. It is not about mastering fiddly code-conventions, but about learning good coding practices. For this reason, we provide the style issues tab. Have a look!
    {% else %}
    <div class="alert alert-danger">
        <h1 class="no-margin-top">Code Quality: D</h1>
        Your code was able to compile, but you should try looking over your code and resubmitting it again. We encourage you to improve the quality of your code. It is not about mastering fiddly code-conventions, but about learning good coding practices. For this reason, we provide the style issues tab. Have a look!
    {% endif %}
    </div>
    {% endif %}


  {% elif solution.status == "failure" %}
    <p class="alert alert-danger">
      Your solution did not pass the tests.
    </p>
  {% elif solution.status == "killed" %}
    <p class="alert alert-danger">
      Your solution took too long to complete and has been terminated.
    </p>
  {# NOTE: states "lost" and "error" are handled in the view code #}
  {% endif %}
  </div><!-- /#home -->

  <div role="tabpanel" class="tab-pane" id="files">
    {% if files %}
      <div class="list-group">
      {% for file in files %}
        <a class="list-group-item" href="{% url 'solutions:showfile' file.id %}">
          <h4 class="list-group-item-heading">{{ file.name }}</h4>
          <p class="list-group-item-text">{{ file.size|filesizeformat }}</p>
        </a>
      {% endfor %}

      {% if solution.archive %}
      <a class="list-group-item list-group-item-success"
         href="{% url 'solutions:archive_download' solution.id %}">
        Click here to download the solution as a zip archive.
      </a>
      {% else %}
      <a class="list-group-item list-group-item-info" href="#" id="archive-download-bar">
        Click here to create a downloadable zip archive for this solution.
        <span id="spinner" class="glyphicon spinner float-right"></span>
      </a>
      {% endif %}

      </div>
    {% else %}
      <p>No files to show here.</p>
    {% endif %}
  </div><!-- /#files -->

  <div role="tabpanel" class="tab-pane" id="console">
  {% if result.stdout or result.stderr %}
    <pre class="console-output"><code>{{ result.stdout }}{{ result.stderr }}</code></pre>
  {% else %}
    <p>Nothing to show here.</p>
  {% endif %}
  </div><!-- /#console -->

  <div role="tabpanel" class="tab-pane" id="unittests">
  {% include "solutions/includes/testsuites.html" %}
  </div><!-- /#unittests -->

  <div role="tabpanel" class="tab-pane" id="checkstyle">

  {% if checkstyle_data %}
  {% for file in checkstyle_data.files %}

  {% if not file.total_checkstyle_warnings == 0 or not file.total_checkstyle_errors == 0 %}
  <ul class="list-group">
  <a class="list-group-item" href="#" data-toggle="collapse" data-target="#toggle{{ forloop.counter }}">
  {% if file.total_checkstyle_warnings > 0 %}
    {% if file.total_checkstyle_warnings == 1 %}
      <span class="badge progress-bar-warning">1 Warning</span>
    {% else %}
      <span class="badge progress-bar-warning">{{ file.total_checkstyle_warnings }} Warnings</span>
    {% endif %}
  {% endif %}
  {% if file.total_checkstyle_errors > 0 %}
    {% if file.total_checkstyle_errors == 1 %}
      <span class="badge progress-bar-danger">1 Severe Issue</span>
    {% else %}
      <span class="badge progress-bar-danger">{{ file.total_checkstyle_errors }} Severe Issues</span>
    {% endif %}
  {% endif %}
    {{ file.attrib.name }}
  </a>
  <div class="collapse" id="toggle{{ forloop.counter }}">
    {% if file.checkstyle_errors %}
    <li class="list-group-item">
    {% for error in file.checkstyle_errors %}
    <div class="panel panel-danger bottom-spaced">
      <div class="panel-heading">
        <h1 class="panel-title">
          {{ error.attrib.message }}
        </h1>
      </div>
      <div class="panel-body" style="padding: 0px;">
      <pre class="line-numbers codehilite"
           data-start="{{ error.attrib.line }}"
           style="margin-bottom: 0px; z-index: 0; border: none;"
      ><code class="language-java">{{ error.code }}</code></pre>
        <!--<span class="label label-default">This alert came from ...{{ error.attrib.source|slice:"-50:"|safe }}</span>-->
      </div>
    </div>
    {% endfor %}
    </li>
    {% endif %}
    {% if file.checkstyle_warnings %}
    <li class="list-group-item">
    {% for error in file.checkstyle_warnings %}
    <div class="panel panel-warning bottom-spaced">
      <div class="panel-heading">
        <h1 class="panel-title">
          {{ error.attrib.message }}
        </h1>
      </div>
      <div class="panel-body no-pad">
        <pre class="line-numbers codehilite error-panel"
             data-start="{{ error.attrib.line }}"><code class="language-java">{{ error.code }}</code></pre>
      </div>
    </div>
    {% endfor %}
    </li>
    {% endif %}
  </div>
  </ul>
  {% endif %}

  {% endfor %}

  {% else %}
    <p>Nothing to show here.</p>
  {% endif %}
  </div><!-- /#checkstyle -->
</div><!-- /.tab-content -->

{% endblock %}

{% block extrabody %}
<script src="{% static 'vendor/js/prism.js' %}"></script>
<script src="{% static 'vendor/js/prism-java.min.js' %}"></script>
<script src="{% static 'vendor/js/prism-line-numbers.min.js' %}"></script>
{% if not solution.archive %}
<script src="{% static 'vendor/js/jquery.refresh.js' %}"></script>
<script id="archive-status-script"
        data-csrf-token="{{ csrf_token }}"
        data-download-bar-id="#archive-download-bar"
        data-solution-archive-download-url="{% url 'solutions:archive_download' solution.id %}"
        data-solution-archive-new-url="{% url 'solutions:archive_new' solution.id %}"
        data-solution-archive-status-url="{% url 'solutions:archive_status' solution.id %}"
        src="{% static 'js/archive-status.js' %}"></script>
{% endif %}
{% endblock %}
