{% extends "tasks/base.html" %}

{% block title %}Solution upload - {{ task.title }} {% endblock %}

{% block extrahead %}
  <style>
    #uploadBtn {
      position: absolute;
      opacity: 0;
      filter: alpha(opacity=0);
    }

    #uploadBtn, #uploadFiles { width: 180px; }
  </style>
{% endblock %}

{% block tab_content %}
{% if not task.is_expired %}
<p>
  To upload more than one file, just click 'Choose Files' and mark multiple files by holding
  down <kbd>Ctrl</kbd> (or <kbd>cmd</kbd> on a Mac) while you click the files you want to upload.
</p>
<form class="form-inline" action="{% url 'solutions:upload' task.slug %}" accept-charset="utf-8"
      method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="form-group">
    <input id="uploadBtn" class="form-control" name="uploads" type="file" multiple>
    <input id="uploadFiles" type="text" disabled="disabled" placeholder="Choose Files" />
  </div>
  <div class="form-group">
    <input class="btn btn-primary" type="submit" value="Submit">
  </div>
</form>
<script type="text/javascript">
  function displayText(files) {
    if (files.length > 1)
      return "[" + files.length + " files selected]";
    else if (files.length == 1)
      return files[0].name;
    return "";
  }
  document.getElementById("uploadBtn").addEventListener("change", function () {
    document.getElementById("uploadFiles").value = displayText(this.files);
  });
</script>
{% else %}
<p class="alert alert-warning">
  The deadline for this task has passed. You cannot submit new solutions.
</p>
{% endif %}
{% endblock %}
