[Unit]
Description=INLOOP gunicorn web workers
Requires=huey.service
Wants=postgresql.service

[Service]
ExecStart=/usr/bin/envdir /home/inloop/envdir setuidgid gunicorn gunicorn --config \
    python:inloop.gunicorn_config inloop.wsgi:application
ExecReload=/bin/kill -HUP $MAINPID
SyslogIdentifier=gunicorn

[Install]
WantedBy=multi-user.target
