[Unit]
Description=INLOOP gunicorn web workers
Requires=huey.service
After=huey.service

[Service]
ExecStart=/usr/bin/envdir /home/inloop/envdir setuidgid gunicorn gunicorn inloop.wsgi:application

[Install]
WantedBy=multi-user.target
