[Unit]
Description=INLOOP huey workers
Wants=docker.service redis-server.service postgresql.service
PartOf=gunicorn.service

[Service]
Environment=HOME=/var/lib/inloop
ExecStart=/usr/bin/envdir /home/inloop/envdir setuidgid huey django-admin run_huey --workers=2
SyslogIdentifier=huey
