[Unit]
Description=INLOOP huey workers
Requires=docker.service
After=docker.service
PartOf=gunicorn.service

[Service]
Environment=HOME=/var/lib/inloop
ExecStartPre=/usr/bin/setfacl -m u:huey:rw /var/run/docker.sock
ExecStart=/usr/bin/envdir /home/inloop/envdir setuidgid huey django-admin run_huey --workers=2
