description "Gunicorn running INLOOP"

start on runlevel [2345]
stop on runlevel [!2345]

respawn
respawn limit 3 10
setuid %(inloop_run)s
chdir %(inloop_root)s

exec %(inloop_bin)s/gunicorn --config inloop/gunicorn_config.py \
     --env DJANGO_SETTINGS_MODULE=inloop.settings.production \
     inloop.wsgi:application

# vim:ft=upstart
