{% extends 'base_site.html' %}

{% block title %}Password change{% endblock %}

{% block messages %}
{{ block.super }}
{% include "includes/form_message.html" %}
{% endblock %}

{% block content %}
<div class="center-box-sm">
  <h2>Change your password</h2>
  <form action="{% url 'accounts:password_change' %}" method="post" accept-charset="utf-8">
    {% include "includes/form.html" %}
    <div class="form-group">
      <button type="submit" class="btn btn-primary" value="submit">
        Change password
      </button>
      <a href="{% url 'accounts:profile' %}" class="btn btn-default">
        Cancel
      </a>
    </div>
  </form>
</div>
{% endblock %}
