{% extends 'base_site.html' %}
{% block content %}

<div class="center-box-sm">
  <h2>Change your password</h2>
  <form action="{% url 'accounts:password_change' %}" method="post" accept-charset="utf-8">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group{% if field.errors %} has-error{% endif %}">
      {{ field.label_tag }}
      <input class="form-control" type="password" id="{{ field.id_for_label }}"
             name="{{ field.html_name }}"{% if forloop.first %} autofocus{% endif %}>
      {% if field.errors %}
      <span class="help-block">{{ field.errors|first }}</span>
      {% endif %}
    </div>
    {% endfor %}
    <div class="form-group">
      <button type="submit" class="btn btn-primary" value="submit">
        Change password
      </button>
      <a href="{% url 'accounts:profile' %}" class="btn btn-default">
        Cancel
      </a>
    </div>
  </form>
</div>

{% endblock %}
