{% extends 'base_site.html' %}
{% block content %}

<div class="center-box-sm">
  <h2>Hello, {% firstof user.first_name user.username %}!</h2>
  <p>You can view and update your profile information here.</p>
  <form action="{% url 'accounts:profile' %}" method="post" accept-charset="utf-8">
    {% csrf_token %}

    <!-- readonly fields -->
    <div class="form-group">
      <label for="username">Username:</label>
      <input class="form-control" type="text" id="username"
             placeholder="{{ user.username }}" readonly>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input class="form-control" type="email" id="email"
             placeholder="{{ user.email }}" readonly>
    </div>
    <!-- /readonly fields -->

    {% for field in user_profile %}
    <div class="form-group{% if field.errors %} has-error{% endif %}">
      {{ field.label_tag }}
      {{ field }}
      {% if field.errors %}
      <span class="help-block">{{ field.errors|first }}</span>
      {% endif %}
    </div>
    {% endfor %}
    <div class="form-group">
      <button type="submit" class="btn btn-primary" value="submit">
        Save
      </button>
      <a href="{% url 'accounts:password_change' %}" class="btn btn-default">
        Change password...
      </a>
    </div>
  </form>
</div>

{% endblock %}
