body.editor-v2 {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container-fluid {
  max-width: 1800px;
}

body > div:first-of-type {
  display: flex;
  flex: auto;
  flex-direction: column;
  overflow: hidden;
  margin: 0;
  max-width: 1800px;
  align-self: center;
}

main {
  display: flex;
  flex: auto;
  flex-direction: row;
  overflow: hidden;
}

h1 {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}

h1, #editor-countdown {
  line-height: 1;
  margin-top: 3px;
}

header {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  border-radius: 4px;
  background: #eee;
  padding: 6px 10px;
  border: 2px solid #ddd;
}

header > div {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
header > div:first-child {
  flex: 2;
  padding-right: 15px;
}

header > div:last-child {
  flex: 3;
  padding-left: 15px;
}

body > div:first-of-type > main > div {
  overflow-y: auto;
}

body > div:first-of-type > main >div:first-child {
  flex: 2;
  padding-right: 15px;
}

body > div:first-of-type > main >div:last-child {
  flex: 3;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#editor-countdown {
  font-weight: bold;
  font-size: 20px;
}

#editor-container {
  display: flex;
  flex-direction: column;
  flex: auto;
  background: rgb(250, 250, 250);
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow-y: hidden;
}

#editor {
  flex: auto;
}

#editor-top-bar {
  background: #eee;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

#editor-top-bar > div {
  display: flex;
  align-items: center;
}

#editor-top-bar > div > button {
  margin-right: 10px;
}

#tab-container {
  flex: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
}

#tab-container li {
  background-color: #dfdfdf;
}

#tab-container > li > a {
  padding-left: 12px;
  padding-right: 12px;
  line-height: 2;
}

#tab-container > li > a:hover {
  text-decoration: none;
}

#tab-container li.active, #tab-container li.active:hover {
  background-color: #d0d0d0;
  border-bottom: 3px solid #3867d6;;
}

#tab-container li:not(:last-child) {
  margin-right: 2px;
}

#console-output > div:first-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#console-output > div:last-child {
  background: #111;
  border-radius: 4px;
  max-height: 30vh;
  margin-bottom: 15px;
  padding: 12px;
  font-family: monospace;
  color: lightgreen;
  overflow-y: auto;
}