html {
  font-size: 15px;
}

body.editor {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.container-fluid {
  max-width: 1800px;
}

body > div:first-of-type {
  display: flex;
  flex: auto;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

.toolbar {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  border-radius: 4px;
  background: #eee;
  padding: 0.4rem 0.6rem;
  border: 2px solid #ddd;
}

.toolbar > div {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  line-height: 1;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0;
}

main > div:first-child {
  padding-left: 0.6rem;
  overflow-y: auto;
}

main > div:first-child img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.toolbar > div:first-child,
main > div:first-child {
  flex: 2;
  padding-right: 1.4rem;
}

.toolbar > div:last-child,
main > div:last-child {
  flex: 3;
  padding-left: 1.4rem;
}

.toolbar > div:first-child > * {
  line-height: 1;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0;
  margin-top: 0.2rem;
}

.deadline-attention {
  color: red;
}

main {
  display: flex;
  flex: auto;
  flex-direction: row;
  overflow: hidden;
}

.editor-task-hints {
  text-align: right;
  font-size: 80%;
}

main > div:first-child {
  overflow-y: auto;
}

main > div:last-child {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

#editor {
  display: flex;
  flex-direction: column;
  flex: auto;
  background: rgb(250, 250, 250);
  border: 1px solid #ccc;
  border-radius: 4px;
}

#editor-content {
  flex: auto;
}

#manual-upload {
  display: none;
  flex: auto;
  flex-direction: column;
}

#editor-tabbar {
  background: #eee;
  display: flex;
  flex-direction: row;
  margin-bottom: 0.6rem;
  padding-right: 0.6rem;
  height: 2.2rem;
}

#editor-tabbar > div {
  display: flex;
  align-items: center;
}

#editor-tabbar button:hover,
#editor-tabbar button:focus {
  color: #337ab7;
}

#editor-tabbar-files {
  flex: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
}

#editor-tabbar-files > li {
  background-color: #dfdfdf;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem 0.6rem 0.4rem 0.6rem;
  cursor: pointer;
  border-bottom: 3px solid;
  border-bottom-color: #dfdfdf;
}

#editor-tabbar-files > li.active,
#editor-tabbar-files > li.active:hover {
  background-color: #d0d0d0;
  border-bottom-color: #3867d6;
}

#editor-tabbar-files > li:hover {
  background-color: #d9d9d9;
  border-bottom-color: #d9d9d9;
}

#editor-tabbar-files > li:not(:last-child) {
  margin-right: 2px;
}

#console {
  display: none;
}

#console > div:first-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#console > div:last-child {
  background: #111;
  border-radius: 4px;
  max-height: 30vh;
  margin-bottom: 1rem;
  padding: 0.8rem;
  font-family: monospace;
  color: lightgreen;
  overflow-y: auto;
}

/* Dropzone Style */
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

.upload-drop-zone {
  color: #ccc;
  border: dashed #3867d6;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}

#manual-upload-file-input {
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
}
