@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 80px;
  font-size: 15px;
}

h1 {
  font-size: 33px;
}

h2 {
  font-size: 26px;
  border-bottom: 1px solid #eee;
  padding-bottom: 7px;
}

.h1, .h2, .h3, h1, h2, h3 {
  margin-bottom: 12px;
}

blockquote {
  font-size: 100%;
  color: #808080;
}

code {
  font-size: 85%;
  background-color: #f6f6f6
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  padding: 15px 0;
  border-top: 1px solid #eee;
  text-align: center;
}

@media (min-width: 500px) {
  .footer {
    height: 50px;
  }

  .footer-left {
    float: left;
  }

  .footer-right {
    float: right;
  }
}

/* @begin anchor.js styles */
.anchorjs-link:hover {
  text-decoration: none;
  color: #aaa;
}

.anchorjs-link {
  color: #ddd;
}

/*
 * Insert an invisible spacer on selected headings
 * to force them below the sticky tab bar
 */
.static-tab-content :target::before {
  content: '';
  display: block;
  width: 0;
  height: 65px;
  margin-top: -65px;
}

/* @end */

/* @begin common container styles */
.tab-content,
.static-tab-content {
  margin: 1em;
}
/* XXX: refactor and reuse center-block */
.center-box-sm {
  max-width: 25em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* XXX: refactor and reuse center-block */
.center-box-md {
  max-width: 35em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* @end */

/* Form styles */
.help-block ul {
  padding-left: 20px;
}

/* @begin tables styles */
/* XXX: find a short and meaningful name */
.table-align-pretty td,
.table-align-pretty th {
  text-align: center;
}

.table-align-pretty td:first-child,
.table-align-pretty th:first-child {
  text-align: left;
}

.table-align-pretty td:last-child,
.table-align-pretty th:last-child {
  text-align: right;
}
/* @end */

/* Upload form */
#uploadBtn {
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
}

/* @begin solution list view styles */
.solution-status {
  display: inline-block;
  float: right;
  vertical-align: middle;
  line-height: 50px;
  font-size: 20px;
}

.solution-success:before {
	content: "\e013"
}

.solution-failure:before {
	content: "\e014"
}

.solution-error:before,
.solution-killed:before,
.solution-lost:before,
.solution-timeout:before {
	content: "\e101"
}

.solution-pending {
  animation-name: spin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.solution-pending:before {
  content: "\e019";
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/* @end */

.spinner {
  display: none;
  float: right;
  vertical-align: middle;
  font-size: 20px;
  animation-name: spin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.spinner:before {
  content: "\e019";
}

/* @begin progressbar styles */
.tasks-progressbar-col {
  width: 30%;
}
/* @end */

/* @begin <pre> styles for console outputs, stack traces, etc. */
.console-output {
  font-size: 86%;
  tab-size: 2;
}

.console-output code {
  white-space: pre;
}

.stacktrace {
  margin: 10px 0;
}
/* @end */

/* @begin <img> styles */
.static-tab-content img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  height: auto;
}
/* @end */

/* @begin JUnit view styles */
.testcase-list {
  padding: 0 2rem 2rem;
  list-style-type: none;
}

.inline {
  display: inline;
}

.disguised:hover,
.disguised:visited,
.disguised:link,
.disguised:active {
  text-decoration: none;
  color: inherit;
}

.testcase-list .glyphicon {
  padding-right: 1rem;
}

/* @end */

/* @begin Badge superscript style*/
.superscript {
  position: relative;
  top: -0.5em;
  font-size: 50%;
}
/* @end */

.no-pad {
  padding: 0;
}

.bottom-spaced {
  margin-bottom: 10px;
}

.below-panel {
  margin-bottom: 0;
  z-index: 0;
  border: none;
}

.breadcrumb.colorful-nav {
  background-color: #3867d6;
  border-radius: 8px 8px 8px 8px;
}

.breadcrumb.colorful-nav * {
  color: white;
}

.progress-bar-inloop {
  background: #3867d6 none repeat-x;
}

.navigation-bar-inloop {
  background: #1e272e none repeat-x;
}

.navigation-bar-inloop * {
  text-shadow: none;
}

a {
  color: #3867d6;
}

.alert-inloop {
  background: #3867d6 none repeat-x;
}

code {
  color: #3867d6;
}

/* Dropzone Style */
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

.upload-drop-zone {
  color: #ccc;
  border: dashed #3867d6;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}

.full {
  width: 100%;
  height: 100%;
}

.darken-logo {
  filter: brightness(0.75);
}

.darken-logo:hover {
  filter: brightness(1.0);
}

.no-margin-top {
  margin-top: 0;
}

.annotation-badge {
  position: relative;
  top: -0.5em;
  font-size: 50%;
}

.error-panel {
  margin-bottom: 0px;
  z-index: 0;
  border: none;
}

/* Editor styles */
.ace_doc-tooltip {
  background: rgba(255, 255, 255, 0.9) none;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.03);
}

.ace_autocomplete {
  background: rgba(255, 255, 255, 0.9) none !important;
  border-radius: 8px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.03) !important;
}

.flat {
  background-image: none;
}

.border-radius-zero {
  border-radius: 0;
}

.background-color-editor {
  background-color: rgb(245, 245, 245);
}

.editor-round-top {
  height: 8px;
  border-radius: 8px 8px 0 0;
}

.editor-divider {
  height: 8px;
  border-radius: 0;
}

.editor-round-bottom {
  height: 8px;
  margin-bottom: 20px;
  border-radius: 0 0 8px 8px;
}

.editor {
  border-radius: 0;
  width: 100%;
}

.shadowed {
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.01);
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
}

.sticky-tab-layout {
  z-index: 10;
  background-color: white;
  padding-top: 8px;
  top: 0;
}

.nav.scrollable {
  overflow-x: auto;
  overflow-y: hidden;
  display: -webkit-box;
  display: -moz-box;
  padding-bottom: 16px;
}

.nav.scrollable > li {
  float: none;
  background-color: rgb(245, 245, 245);
  border-radius: 4px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  float: none;
  background-color: #3867d6;
  border-radius: 4px;
}

/*
 * Fix tooltip flickering issue in the editor tab bar, caused
 * by a li + li sibling rule in bootstrap.css. That sibling rule
 * doesn't apply when the tooltip is dynamically inserted as a
 * <div> element between the <li> elements.
 */
.nav-pills li             { margin-left: 2px; }
.nav-pills li:first-child { margin-left: 0; }

.unsaved {
  background-color: #e74c3c !important;
  color: #fff;
}

.unsaved:hover,
.unsaved:focus {
  background-color: #c0392b !important;
  color: #eee;
}

.saved {
  background-color: #2ecc71 !important;
  color: #fff;
}

.saved:hover,
.saved:focus {
  background-color: #27ae60 !important;
  color: #eee;
}

.vertical-divider {
  width: 5px;
  background-color: rgb(220, 220, 220) !important;
}
