{% extends 'base.html' %}
{% block content %}
    {% if registered %}
        <strong>Thank you for registering!</strong>
        <a href="/tasks/">Return to the homepage.</a><br/>
    {% else %}
        <div class="col-md-4 col-md-offset-4">
            <form id="user_form" method="post" action="/accounts/register/"
                  enctype="multipart/form-data">
                {% csrf_token %}

                {% for field in user_form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}

                <button type="submit" class="btn btn-default">Register</button>
            </form>
        </div>
    {% endif %}
{% endblock %}