{% extends 'base.html' %}
{% block content %}
    {% if registered %}
        <strong>Thank you for registering!</strong>
        <a href="/tasks/">Return to the homepage.</a><br/>
    {% else %}
        <strong>Register here!</strong><br/>

        <form id="user_form" method="post" action="/accounts/register/"
              enctype="multipart/form-data">
            {% csrf_token %}

            {{ user_form.as_p }}

            <input type="submit" name="submit" value="Register"/>
        </form>
    {% endif %}
{% endblock %}