<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}INLOOP{% endblock %} &ndash; INLOOP</title>

  {% load staticfiles %}
  {% load flatpages %}

  {% get_flatpages as fpages %}

  <link rel="stylesheet" type="text/css" href="{% static 'css/inloop.min.css' %}">
  {% block extrahead %}{% endblock %}
</head>
<body class="{% block body_classes %}{% endblock %}">
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}">INLOOP</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% block navigation %}
                <li><a href="{% url 'index' %}">Go Back</a></li>
                {% for page in fpages %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
                {% endblock %}
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  {{ message }}
</div>
{% endfor %}
{% block content %}{% endblock %}
</div>

<script src="{% static 'js/inloop.min.js' %}"></script>
{% block extrabody %}{% endblock %}

</body>
</html>
