{% extends 'base.html' %}
{% load static %}

{% block navigation %}
{% if user.is_authenticated %}
  <li><a href="{% url 'home' %}">Home</a></li>
  <li><a href="{% url 'accounts:profile' %}">My Profile</a></li>
  {% if user.is_superuser or user.is_staff %}
    <li><a href="{% url 'admin:index' %}">Administration</a></li>
    <li><a href="{% url 'statistics:index' %}">Statistics</a></li>
  {% endif %}
  <li><a id="logout-link" href="{% url 'logout' %}">Logout</a></li>
{% else %}
  {% if not hide_login_link %}
  <li><a href="{% url 'login' %}">Login</a></li>
  {% endif %}
  <li><a href="{% url 'accounts:signup' %}">Sign up</a></li>
{% endif %}
{% endblock %}

{% block extranav %}
{% if user.is_authenticated %}
<form id="logout-form" method="post" action="{% url 'logout' %}">
  {% csrf_token %}
</form>
<script src="{% static 'js/logout.js' %}"></script>
{% endif %}
{% endblock %}
