{% extends 'base.html' %}
{% block content %}
    <div class="col-md-4 col-md-offset-4" xmlns="http://www.w3.org/1999/html">
        <h3>Do you really want to delete {{ task.title }}</h3>
        <p><strong>Author: </strong><p>{{ task.author }}</p></p>
        <p><strong>Published: </strong><p>{{ task.publication_date }}</p></p>
        <p><strong>Due to: </strong><p>{{ task.deadline_date }}</p></p>
        <p><strong>Category: </strong><p>{{ task.category }}</p></p>
        <p><strong>Description: </strong><p>{{ task.description }}</p></p>
        <form action="." method="post">
            {% csrf_token %}
            <div class="form-group">
                <div class="btn-group" data-toggle="buttons">
                {% for choice in deletion_form.are_you_sure %}
                    <label class="btn btn-primary">
                        {{ choice }}{{ choice.label }}
                    </label>
                {% endfor %}
            </div>
            <br /><br />
            <button type="submit" class="btn btn-default" value="submit">Submit</button>
        </form>
    </div>
{% endblock %}
