{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h3>Manage Categories</h3>
        <hr>
        {% for cat in categories %}
        <div class="row topbot">
            <div class="col-md-offset-2 col-md-4">
                <a href="{% url 'tasks:category' cat.short_id %}"><span class="bigger">{{ cat.name }}</span></a>
            </div>
            <div class="col-md-6">
                <a href="{% url 'tasks:delete_category' cat.short_id %}"><button type="button" class="btn btn-primary btn-xs">Delete</button></a>
                <a href="{% url 'tasks:edit_category' cat.short_id %}"><button type="button" class="btn btn-primary btn-xs">Edit</button></a>
            </div>
        </div>
        {% endfor %}
        <div class="row topbot">
            <div class="col-md-offset-2 col-md-8">
                <a class="bigger" href="{% url 'tasks:new_category' %}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create a New Category</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
