{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-4 col-md-offset-4" xmlns="http://www.w3.org/1999/html">
        <form action="{% url 'tasks:new_exercise' %}" enctype="multipart/form-data" class="form-horizontal" method="post">
            {% csrf_token %}
            {% for field in exercise_form %}
            {% if field.errors %}
                <div class="form-group has-error">
                {% else %}
                <div class="form-group">
                {% endif %}
                    <label for="{{ field.auto_id }}" class="col-md-4 control-label">{{ field.label }}</label>
                    <div class="col-md-8">
                        {% if field.errors %}
                            <div class="panel panel-danger">
                                {% with field.errors|first as error %}
                                    <div class="panel-heading">{{ error }}</div>
                                    <div class="panel-body">{{ field }}</div>
                                {% endwith %}
                            </div>
                        {% else %}
                            {{ field }}
                        {% endif %}
                    </div>
                </div>
                {% endfor %}

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <button type="submit" class="btn btn-default" value="submit">Create</button>
                    </div>
                </div>
        </form>
    </div>
</div>
{% endblock %}
