{% extends 'base.html' %}

{% block head %}
    {# include TinyMCE editor #}
    {{ form.media }}
{% endblock %}

{% block content %}
<div class="col-md-6 col-md-offset-3">
    <h1>{{ title }}</h1>
    <br/>

    <p>Due to: {{ deadline_date }}

    <p>{{ description|escape }}</p>

    <form action="." method="post">
        {% csrf_token %}
        <div role="tabpanel">
            <!-- nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                {% for fname in file_dict.keys %}
                    {% if forloop.first %}
                    <li role="presentation" class="active">
                        <a href="#{{ forloop.counter }}"
                           role="tab"
                           data-toggle="tab">{{ fname|escape }}
                        </a>
                    </li>
                    {% else %}
                    <li role="presentation">
                        <a href="#{{ forloop.counter }}"
                           role="tab"
                           data-toggle="tab">{{ fname|escape }}
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>

            <!-- tab panes -->
            <div class="tab-content">
                {% for fname, content in file_dict.items %}
                    {% if forloop.first %}
                        <div role="tabpanel" class="tab-pane active" id="{{ forloop.counter }}">
                            <div id="editor{{ forloop.counter }}">{{ content|escape }}</div>
                        </div>
                        <input id="content{{ forloop.counter }}" name="content{{ forloop.counter }}" type="hidden" />
                    {% else %}
                        <div role="tabpanel" class="tab-pane" id="{{ forloop.counter }}">
                            <div id="editor{{ forloop.counter }}">{{ content|escape }}</div>
                        </div>
                        <input id="content{{ forloop.counter }}" name="content{{ forloop.counter }}" type="hidden" />
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <input type="submit" value="Submit"/>
    </form>
</div>
{% endblock %}

{% block subbody_content %}
<script>
    {% for fname in file_dict.keys %}
        var editor{{ forloop.counter }} = ace.edit("editor{{ forloop.counter }}");
        editor{{ forloop.counter }}.getSession().setMode("ace/mode/java");
        editor{{ forloop.counter }}.getSession().on('change', function () {
            $('#content{{ forloop.counter }}').val(editor.getSession().getValue());
       });
       $('#content{{ forloop.counter }}').val(editor{{ forloop.counter }}.getSession().getValue());
    {% endfor %}
</script>
{% endblock %}
