<html>
<head>
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
  <title>Prktmt</title>
</head>
<body>
  <div id="navbar">
    <ul id="menu">
      {% if user.is_anonymous %}
      <li><a href="{% url 'accounts:auth_login' %}">Login</a></li>
      <li><a href="#">About</a></li>
      {% else %}
      <li><a href="#">Home</a></li>
      <li><a href="#">{{ user.get_username }}</a></li>
      <li><a href="#">Settings</a></li>
      <li><a href="{% url 'accounts:auth_logout' %}">Logout</a></li>
      {% endif %}
    </ul>
  </div>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
  <div id="footer">

  </div>
</body>
</html>
