{% extends 'base_site.html' %}

{% block title %}Login{% endblock %}

{% block messages %}
{{ block.super }}
{% include "includes/form_message.html" %}
{% endblock %}

{% block content %}
<div class="center-box-sm panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Login</h2>
  </div>
  <div class="panel-body">
    <form method="post" action="{% url 'login' %}" accept-charset="utf-8">
      {% include "includes/form.html" %}
      <input type="hidden" name="next" value="{{ next }}">
      <button type="submit" class="btn btn-default">Login</button>
      <a class="pull-right" href="{% url 'accounts:password_reset' %}">Forgot your password?</a>
    </form>
  </div>
</div><!--/.panel -->
{% endblock %}
