{% extends 'base_site.html' %}

{% block title %}Reset your password{% endblock %}

{% block content %}
{% if form.errors %}
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  Sorry, I couldn't find the email you requested.
</div>
{% endif %}
<div class="center-block" style="max-width: 25em">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Password reset</h2>
    </div>
    <div class="panel-body">
    <form action="{% url 'accounts:password_reset' %}" method="post" accept-charset="utf-8">
      {% csrf_token %}
      {% for field in form %}
      <div class="form-group">
        <label for="email">{{ field.label }}</label>
        <input class="form-control" id="email" name="{{ field.name }}"
               type="text" placeholder="Your email address">
      </div>
      {% endfor %}
      <button type="submit" class="btn btn-default" value="submit">Submit</button>
    </form>
    </div>
  </div>
</div>
{% endblock %}
