{% extends 'base_site.html' %}

{% block title %}Sign up for INLOOP{% endblock %}

{% block content %}

{% if user_form.errors %}
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  Please correct the marked fields.
</div>
{% endif %}

<div class="center-box-md">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Sign up for INLOOP</h2>
    </div>
    <div class="panel-body">
      <p>Please fill in the following form to sign up. All fields are required.</p>
      <form action="{% url 'accounts:register' %}" method="post"
            accept-charset="utf-8" class="">
        {% csrf_token %}
        {% for field in user_form %}
        <div class="form-group{% if field.errors %} has-error{% endif %}">
          {{ field.label_tag }}
          {{ field }}
          {% if field.errors %}
          <span class="help-block">{{ field.errors|first }}</span>
          {% endif %}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-success">Sign up</button>
      </form>
    </div>
  </div><!--/.panel-->
</div>
{% endblock %}
