{% extends "base_site.html" %}
{% load staticfiles %}

{% block extrahead %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/syntax.css' %}">
{% endblock %}

{% block content %}

<ol class="breadcrumb">
  <li><a href="{% url 'tasks:index' %}">Tasks</a></li>
  <li><a href="{% url 'tasks:category' task.category.slug %}">{{ task.category }}</a></li>
  <li class="active">{{ task.title }}</li>
</ol>

<ul class="nav nav-tabs">
  <li role="presentation" {% if active_tab == 0 %}class="active"{% endif %}>
    <a href="{% url 'tasks:detail' task.slug %}">Description</a>
  </li>
  <li role="presentation" {% if active_tab == 1 %}class="active"{% endif %}>
    <a href="{% url 'solutions:upload' task.slug %}">Manual upload</a>
  </li>
  <li role="presentation" {% if active_tab == 2 %}class="active"{% endif %}>
    <a href="{% url 'solutions:list' task.slug %}">Your solutions</a>
  </li>
</ul>

<div class="static-tab-content">
{% block tab_content %}{% endblock %}
</div>

{% endblock %}

{% block extrabody %}
<script src="{% static 'js/prism.js' %}"></script>
<script src="{% static 'js/prism-java.min.js' %}"></script>
{% endblock %}
