{% extends "base_site.html" %}
{% load static %}

{% block extrahead %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/syntax.css' %}">
{% endblock %}

{% block content %}

<ol class="breadcrumb colorful-nav">
  <li><a href="{% url 'tasks:index' %}">Tasks</a></li>
  <li><a href="{% url 'tasks:category' task.category.slug %}">{{ task.category }}</a></li>
  <li class="active">{{ task.title }}</li>
</ol>

<ul class="nav nav-tabs sticky sticky-tab-layout">
  <li role="presentation" {% if active_tab == 0 %}class="active"{% endif %}>
    <a href="{% url 'tasks:detail' task.slug %}">Description</a>
  </li>
  <li role="presentation" {% if active_tab == 2 %}class="active"{% endif %}>
    <a href="{% url 'solutions:upload' task.slug %}">Manual upload</a>
  </li>
  <li role="presentation" {% if active_tab == 3 %}class="active"{% endif %}>
    <a href="{% url 'solutions:list' task.slug %}">Your solutions</a>
  </li>
{% block extra_in_tab %}{% endblock %}
</ul>

<div class="static-tab-content">
{% block tab_content %}{% endblock %}
</div>

{% endblock %}
