{% extends 'base_site.html' %}

{% block title %}{{ category.name }} tasks{% endblock %}

{% block content %}

<ol class="breadcrumb">
  <li><a href="{% url 'tasks:index' %}">Tasks</a></li>
  <li class="active">{{ category.name }}</li>
</ol>

<h2>{{ category.name }} tasks</h2>

{% if tasks %}
  <table class="table table-align-pretty">
    <thead>
    <tr>
      <th>Title</th>
      <th>Published on</th>
      {% if have_deadlines %}
      <th>Deadline</th>
      {% endif %}
      <th>Completed</th>
    </tr>
    </thead>

    <tbody>
    {% for task in tasks %}
    <tr>
      <td><a href="{% url 'tasks:detail' task.slug %}">{{ task.title }}</a></td>
      <td>{% firstof task.pubdate|date:"d-m-Y" "-" %}</td>
      {% if have_deadlines %}
      <td>{% firstof task.deadline|date:"d-m-Y" "-"  %}</td>
      {% endif %}
      <td>
      {% if task.completed %}
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        <span class="sr-only">Yes</span>
      {% else %}
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        <span class="sr-only">No</span>
      {% endif %}
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
  <div class="alert alert-info">You are lucky! Nothing to do here.</div>
{% endif %}

{% endblock %}
