{% extends 'base_site.html' %}

{% block title %}{{ name }} tasks{% endblock %}

{% block content %}

<h2>{{ name }} tasks</h2>

{% if task_list %}
  <table class="table table-align-pretty">
    <thead>
    <tr>
      <th>Title</th>
      <th>Publication date</th>
      <th>Deadline</th>
      <th>Completed</th>
    </tr>
    </thead>

    <tbody>
    {% for task in task_list %}
    <tr>
      <td><a href="{% url 'tasks:detail' task.slug %}">{{ task.title }}</a></td>
      <td>{{ task.publication_date|date:"d/m/y" }}</td>
      <td>{% firstof task.deadline_date|date:"d/m/y" "-"  %}</td>
      <td>
        <!-- show a question mark until this gets implemented -->
        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
  <div class="alert alert-info">You are lucky! Nothing to do here.</div>
{% endif %}

{% endblock %}
