{% extends 'base_site.html' %}
{% load markdown %}

{% block title %}Homepage{% endblock %}

{% block content %}

<ol class="breadcrumb colorful-nav">
  <li class="active">Tasks</li>
</ol>

{% for category in categories %}
<div class="category">
  <h3 class="category-title"><a href="{% url 'tasks:category' category.slug %}">{{category.name}}</a>
{% with num_tasks=category.task_set.published.count %}
    <span class="category-info">({{ num_tasks }} active task{{ num_tasks|pluralize }})</span></h3>
{% endwith %}
  <div class="category-description">{{ category.description|markdown }}</div>
</div>
{% empty %}
<p>There are currently no tasks in the system.</p>
{% endfor %}

{% endblock %}
