{% extends 'base_site.html' %}
{% load markdown %}

{% block title %}Homepage{% endblock %}

{% block content %}

<ol class="breadcrumb">
  <li class="active">Tasks</li>
</ol>

{% if categories %}
  <table class="table table-align-pretty">
    <thead>
    <tr>
      <th>Category</th>
      <th>Progress</th>
      <th class="tasks-progressbar-col"></th>
      <th>Completed</th>
    </tr>
    </thead>

    <tbody>
    {% for cat, data in categories %}
    <tr>
      <td>
        <a href="{% url 'tasks:category' cat.slug %}">{{ cat.name }}</a><br>
        {{ cat.description|markdown }}
      </td>
      <td>{{ data.num_completed }} / {{ data.num_published }}</td>
      <td>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{ data.num_completed }}"
              aria-valuemin="0" aria-valuemax="{{ data.num_published }}" style="width: {{ data.progress }}%;">
          </div><!--/.progress-bar-->
        </div><!--/.progress-->
      </td>
      <td>
      {% if data.is_completed %}
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        <span class="sr-only">Yes</span>
      {% else %}
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        <span class="sr-only">No</span>
      {% endif %}
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
  <div class="alert alert-info">There are currently no tasks in the system.</div>
{% endif %}


{% endblock %}
