{% extends "tasks/base.html" %}

{% block title %}{{ task.title }} solutions{% endblock %}

{% block tab_content %}
{% if solutions %}
<div class="list-group">
{% for solution in solutions %}
  <a class="list-group-item" href="{% url 'tasks:solutiondetail' solution.id %}">

    <div class="solstatus">
    {% if solution.status == "success" %}
      <span class="glyphicon glyphicon-ok"></span>
    {% elif solution.status == "pending" %}
      <span class="spinner glyphicon glyphicon-cog"></span>
    {% elif solution.status == "failure" %}
      <span class="glyphicon glyphicon-minus-sign"></span>
    {% else %}
      <span class="glyphicon glyphicon-exclamation-sign"></span>
    {% endif %}
    </div>

    <h4 class="list-group-item-heading">#{{ solution.id }}</h4>
    <p class="list-group-item-text">
      Submitted on {{ solution.submission_date }}
    </p>
  </a>
{% endfor %}
</div>
{% else %}
<p>You haven't submitted anything yet.</p>
{% endif %}
{% endblock %}
