{% extends "tasks/base.html" %}

{% block title %}{{ task.title }} solutions{% endblock %}

{% block tab_content %}
{% if solutions %}
<div class="list-group">
{% for solution in solutions %}
  <a class="list-group-item" href="{% url 'tasks:solutiondetail' solution.id %}">

    <div class="solutionstatus">
      <span data-id="{{ solution.id }}" class="glyphicon solution-{{ solution.status }}"></span>
    </div>

    <h4 class="list-group-item-heading">#{{ solution.id }}</h4>
    <p class="list-group-item-text">
      Submitted on {{ solution.submission_date }}
    </p>
  </a>
{% endfor %}
</div>
{% else %}
<p>You haven't submitted anything yet.</p>
{% endif %}
{% endblock %}
