{% extends 'base_site.html' %}
{% load markdown %}
{% load staticfiles %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h1>{{ title }}</h1>
        <br/>
        {% if deadline_date %}
        <p><strong>Due to: </strong>{{ deadline_date|date:"l, d. F Y P" }}</p>
        {% endif %}
        {{ description|markdown }}

        <form class="form-inline" action="." accept-charset="utf-8" method="post"
              enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group col-md-12">
                <label for="manual-upload">Manual upload:</label>
                <input class="form-control" name="manual-upload" type="file" multiple>
            </div>
            <div class="form-group col-md-12">
                <input class="btn btn-default detail-btn" type="submit" value="Submit">
            </div>
        </form>
    </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <br />
            <hr />
            <h4>Your latest solutions</h4>
            <ul>
            {% for sol in latest_solutions %}
                <li>Solution from {{ sol.submission_date }} <a href="{% url 'tasks:solution_as_zip' slug sol.id %}">Download</a> - <a href="{% url 'tasks:results' slug sol.id %}">Results</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block extrabody %}
<script type="text/javascript">
    anchors.add("h2, h3");
</script>
{% endblock %}
