{% extends 'base_site.html' %}
{% load markdown %}
{% load staticfiles %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1>{{ title }}</h1>

{% if deadline_date %}
<p><strong>Due to: </strong>{{ deadline_date|date:"l, d. F Y P" }}</p>
{% endif %}

{{ description|markdown }}

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Manual upload</h3>
    <form class="form-inline" action="." accept-charset="utf-8"
          method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <input class="form-control" name="manual-upload" type="file" multiple>
      </div>
      <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Submit">
      </div>
    </form>
  </div><!--/.col-md-6-->

  <div class="col-md-6">
    <h3>Your solutions</h3>
    {% if latest_solutions %}
    <ul class="list-group">
      {% for sol in latest_solutions %}
      <li class="list-group-item">
        Uploaded on {{ sol.submission_date }}<br>
        <a href="{% url 'tasks:solution_as_zip' slug sol.id %}">Download</a> -
        <a href="{{ sol.get_absolute_url }}">View results</a>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>You haven't uploaded anything yet.</p>
    {% endif %}
  </div><!--/.col-md-6-->
</div><!--/.row-->
{% endblock %}

{% block extrabody %}
<script type="text/javascript">
  anchors.add("h2, h3");
</script>
{% endblock %}
